.beer {
    display: flex;
}
.beer > img {
    height: 600px;
}
.description {
    width: 400px;
    margin-left: 150px;
}

.description div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.description div h3{
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .beer > img {
        width: 200px;
        margin: auto;
    }
    .beer {
        flex-direction: column;
    }
    .description {
        width: 90%;
        margin-left: 15px;
        font-size: 14px;
    }
    .description div span {
        max-width: 235px;
    }
}
